<div class="nav-top-section">
  <button   class="nav-top-button nav-top-print icon-print"
            data-ng-class="{ 'active': activePage === 'print' }"
            data-ng-click="setActivePage('print')">
              <span class="path1"></span><span class="path2"></span>
            </button>
</div>
<div class="nav-top-section">
  <button   class="nav-top-button nav-top-logo icon-logo"
            data-ng-class="{ 'active': activePage === 'logo' }"
            data-ng-click="setActivePage('logo')"></button>
</div>
<div class="nav-top-section">
  <button   class="nav-top-button nav-top-web icon-digital"
            data-ng-class="{ 'active': activePage === 'web' }"
            data-ng-click="setActivePage('web')"></button>
</div>