////////////////////////////////////
//          MAIN STYLES           //
////////////////////////////////////

.main {
  background: #fff;
  height: 400%;
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  z-index: 700;
}
.main-section{
  height: 25%;
  width: 100%;
  text-align: center;
  // border-bottom: 1px dotted blue;

  .vert-center{
    .ib; .fullheight;
    .user-select(none);
  }

}

.mjl-module {
  .ib;
  .user-select(none);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url('../img/logo-faded.svg');
  background-size: 25%;
  height: 150px;
  // width: 33.33332%;
  width: 243px;

  /**
    * TODO MAJOR:
    *
    * Make breakpoints based on this things width
    * then set the positions & sizes of the logo & sub nav items accordinly
   **/


}
.mjl-module.module-main {
  background-image: url('../img/logo.svg');
  background-size: contain;
}

.section-title {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/////////////////////////////////////////////////////////
//  TODO: Break this off into it's own less file too
/////////////////////////////////////////////////////////
.nav-sub {
  width: 100%;
  height: 100%;
  margin: 0; padding: 0;

  .nav-sub-list {
    margin: 0; padding: 0;
    position: relative;
    .nav-sub-list-item {
      .clickable();
      @subSize: 135px;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      border-radius: 100%;
      height: @subSize;
      width: @subSize;
      margin-left: -@subSize/2;
      position: absolute;

      // &::before,
      // &:before {
      //   content: '';
      //   border: 1px solid @offBlack;
      //   border-radius: 100%;
      //   display: block;
      //   height: 100%;
      //   width: 100%;
      //   .trans(all 0.525s ease-out);
      // }

      // &:hover{
      //   &::before,
      //   &:before {
      //     .scale(0.975);
      //   }
      // }
      // &:active {
      //   &::before,
      //   &:before {
      //     .scale(0.915);
      //   }
      // }

      &.top-center {
        left: 50%;
        top: -@subSize;
      }
      &.top-right{
        top: -(@subSize/2);
        left: 100%;
      }

      &.bottom-right{
        top: (@subSize/2);
        left: 100%;
      }
      &.bottom-center {
        left: 50%;
        top: @subSize;
      }

      &.bottom-left{
        top: (@subSize/2);
        left: 0;
      }
      &.top-left{
        top: -(@subSize/2);
        left: 0;
      }

    }
  }

}
