///////////////////////////////////////////////////
//          Showcase showdown styles             //
///////////////////////////////////////////////////

.translate(@x, @y){
  -ms-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  transform: translate(@x, @y);
}


.showcase-overlay {
  background: @mjlShowcase;
  position: fixed;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.65s ease-in-out, z-index 0.65s;
  z-index: 900;


  &.showcase-hidden{
    opacity: 0;
    z-index: -100;
  }
  .showcase{
    .clickable();
    display: none;
    margin-left: -45%;
    margin-top: -100px;
    height: 200px;//will be set in style
    width: 90%;//will be set in style
    position: absolute;
    left: 50%; top: 50%;
    perspective: 800;
    &.show-back{
      .showcase-card {
        transform: rotateY(180deg);
      }
    }
    &.active {
      display: block;
    }
    &.up-next {
      display: block;
      .translate(1000px, 10px);
    }
    @media @breakpoint-small {
      background-size: cover;
      height: 260px;//will be set in style
      width: 450px;//will be set in style
      margin-left: -225px;
      margin-top: -130px;
      position: absolute;
      left: 50%; top: 50%;
    }

  }

}

.showcase-card,
.showcase-front,
.showcase-back {
  height: 100%;
  width: 100%;
}

.showcase-card {
  transition: 0.7525s;
  transform-style: preserve-3d;
  position: relative;
  box-shadow: 0 0 30px rgba( 51, 51, 51, 0.25 );
}

.showcase-front,
.showcase-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.showcase-front {
  z-index: 2;
  transform: rotateY(0deg);
  .showcase-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.showcase-back {
  transform: rotateY(180deg);
  font-family: 'Flama Bold';
}



// .showcase-container {
//   height: 100%;
//   width: 100%;
//   position: relative;
//   perspective: 1000;
//    z-index: 901;
//   .showcase-card {
//     height: 100%;
//     width: 100%;
//     transform-style: preserve-3d;
//     transition: all 0.8s ease-in-out;
//     background: #fff;
//     box-shadow: 0 0 30px rgba( 51, 51, 51, 0.25 );
//   }
//   &:hover {
//     .showcase-card {
//       transform: rotateY(180deg);
//       box-shadow: 0 0 30px rgba( 51, 51, 51, 0.25 );
//     }
//   }

// }

// .showcase-front,
// .showcase-back{
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   backface-visibility: hidden;
//   .showcase-img {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%);
//   }
// }

// .showcase-back{
//   display: block;
//   transform: rotateY(180deg);
//   box-sizing: border-box;
//   background: #fff;
//   box-shadow: 0 0 30px rgba( 51, 51, 51, 0.25 );
//   text-align: center;
// }

//////


.showcase-btn {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba( 255, 255, 255, 0 );
  border: 0;
  height: 100%;
  width: 45px;
  opacity: 0.25;
  transition: background-size 0.275s ease-in-out;
  .user-select(none);
  &.close {
    background-image: url('../img/icon-close.svg');
    position: absolute;
    top: 20px;
    right: 20px;
    height: 45px;
    z-index: 950;
    transition: transform 0.275s ease-in-out;
    &:hover{
      .scale(1.15);
    }
    &:active {
      .scale(0.95);
    }
  }
  &.left{
    background-image: url('../img/icon-arrow-left.svg');
    float: left;
    &:hover{
      background-size: 115%;
    }
    &:active {
      background-size: 125%;
    }
  }
  &.right{
    background-image: url('../img/icon-arrow-right.svg');
    float: right;
    &:hover{
      background-size: 115%;
    }
    &:active {
      background-size: 125%;
    }
  }
}
