@import "../lib/css/lesslie.less"; // reference would be better with a separate reset.

/////////////////////
//  Some vars
/////////////////////

@mjlRed: rgb(237,28,36);
@mjlShowcase: rgba(240,240,240,0.9);


@breakpoint-small: ~"screen and (min-width: 425px)";
@breakpoint-medium: ~"screen and (min-width: 600px)";
@breakpoint-large: ~"screen and (min-width: 1024px)";
@breakpoint-xlarge: ~"screen and (min-width: 1240px)";

@import "typography";
@import "nav-top";
@import "main";
@import "showcase";
