<div class="vert-center"></div>
<div id="module-logo" class="mjl-module">
  <h2 class="section-title">Logos</h2>
  <button class="module-logo-button"
          ng-click="goToTop(1.5);"></button>
  <nav class="nav-sub nav-sub-logos">
    <ul class="nav-sub-list">
      <li   class="nav-sub-list-item"
            ng-repeat="project in siteData.logo.projects"
            ng-click="showShowcase( 'logo', $index )"
            ng-class="{
              'top-center'   : $index==0,
              'top-right'    : $index==1,
              'bottom-right' : $index==2,
              'bottom-center': $index==3,
              'bottom-left'  : $index==4,
              'top-left'     : $index==5
            }"
            style="background-image: url({{project.thumb}})">
      </li>
    </ul>
  </nav>
</div>