<button class="showcase-btn close icon icon-close" ng-click="closeShowcase()"></button>
<div  class="showcase"
      ng-repeat="showcaseItem in activeProject.showcase"
      ng-init="showInfo = false"
      ng-class="{
        'just-now' : showcaseItem.justNow,
        'active'   : showcaseItem.active,
        'up-next'  : showcaseItem.upNext,
        'show-back': showInfo
      }">
    <div class="showcase-card">
      <div class="showcase-front" ng-click="showInfo = !showInfo">
        <img class="showcase-img" ng-src="{{showcaseItem.img}}" alt="showcase item" />
        <button   class="showcase-btn left icon icon-arrow-left"
                  ng-if="activeProject.showcase.length > 1"
                  ng-click="boneCity('back');$event.stopPropagation();"></button>
        <button   class="showcase-btn right icon icon-arrow-right"
                  ng-if="activeProject.showcase.length > 1"
                  ng-click="boneCity('next');$event.stopPropagation();"></button>
      </div>
      <div class="showcase-back" ng-click="showInfo = !showInfo">
        <h4 class="showcase-back-heading">{{activeProject.title}}</h4>
        <p class="showcase-back-blurb">
          {{activeProject.blurb}}
        </p>
      </div>
    </div>
</div>
<div  class="showcase-instruction"
      ng-class="{
        'hidden' : !hide.showcaseInstruction
      }">
    Click or tap on the card to see more information.
</div>
