<div class="vert-center"></div>
<div class="mjl-module">
  <h2 class="section-title">Web</h2>
  <nav class="nav-sub nav-sub-web">
    <ul class="nav-sub-list">
      <li   class="nav-sub-list-item"
            ng-repeat="project in siteData.web.projects"
            ng-class="{
              'top-center'   : $index==0,
              'top-right'    : $index==1,
              'bottom-right' : $index==2,
              'bottom-center': $index==3,
              'bottom-left'  : $index==4,
              'top-left'     : $index==5
            }"
            style="">
      </li>
    </ul>
  </nav>
</div>