<!DOCTYPE HTML>
<html ng-app="app" lang="en">
<head>

	<title>Miguel Lovery | Toronto Based Digital Designer</title>
	<meta charset="UTF-8">

	<meta name="description" content="Portfolio of Toronto-based designer Miguel Lovery">
	<meta name="keywords" content="design, graphic design, Toronto, Toronto design, portfolio, UI design, print, digital photography, photographer, graphic, user experience, user interface design, designer, for hire, freelance, digital, Lovery + Lunny, 5Touch Marketing, CTV, Bell Media, TSN, Toronto designer for hire, ">

	<!--Mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

<!-- build:css -->
	<link rel="stylesheet" type="text/css" href="css/style.css"	/>
<!-- endbuild -->
<!-- build:js -->
	<script type="text/javascript" src="lib/js/angular.js"></script>
	<script type="text/javascript" src="lib/js/angular-ui-router.js"></script>
	<script type="text/javascript" src="lib/js/TweenMax.js"></script>
  <script type="text/javascript" src="lib/js/CSSRulePlugin.js"></script>
  <script type="text/javascript" src="lib/js/ScrollToPlugin.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
<!-- endbuild -->

</head>
<body ng-controller="Main">

	<nav class="nav-top" ng-class="{ 'nav-top-invincible': hide.topNav }" ng-include="'partials/nav.html'"></nav>

	<main class="main">
		<section  class="showcase-overlay"
							ng-class="{ 'showcase-hidden': hide.showcase }"
							ng-include="'partials/showcase.html'"></section>
		<section 	class="main-section" id="home"
							ng-include="'partials/home.html'"></section>

		<section 	class="main-section" id="logo">
			<div 	class="main-section-partial"
						ng-include="'partials/logo.html'"
						ng-if="sectionsLoaded.logo"></div>
		</section>
		<section 	class="main-section" id="print">
			<div 	class="main-section-partial"
						ng-include="'partials/print.html'"
						ng-if="sectionsLoaded.print"></div>
		</section>
		<section 	class="main-section" id="web">
			<div 	class="main-section-partial"
						ng-include="'partials/web.html'"
						ng-if="sectionsLoaded.web"></div>
		</section>
	</main>

</body>
</html>
